.notistack-SnackbarContainer {
    margin-top: 30px;
}

.rl-mfe-pr.MuiPaper-root,
.rl-mfe-tpv.MuiPaper-root,
.rl-mfe-perf-sum.MuiPaper-root {
    border-radius: 0.25rem !important
}

.rl-mfe-pr input[type=checkbox] {
    height: 100% !important;
    border: none !important;
}

.rl-mfe-pr.MuiOutlinedInput-input,
.rl-mfe-pr.MuiInputBase-inputAdornedStart {
    border: none !important;
    box-shadow: none !important;
}

.rl-mfe-pr.MuiTypography-body2,
.rl-mfe-pr.MuiTypography-caption {
    color: rgb(108, 117, 125);
}