.notistack-SnackbarContainer {
    margin-top: 30px;
}

.rl-mfe-default-rule.MuiPaper-root,
.rl-mfe-trend-pageviews .MuiPaper-root,
.rl-mfe-performance-summary-donut .MuiPaper-root {
    border-radius: 0.25rem !important
}

.rl-mfe-default-rule input[type=checkbox] {
    height: 100% !important;
    border: none !important;
}

.rl-mfe-default-rule .MuiOutlinedInput-input,
.rl-mfe-default-rule .MuiInputBase-inputAdornedStart {
    border: none !important;
    box-shadow: none !important;
}

.rl-mfe-default-rule.MuiTypography-body2,
.rl-mfe-default-rule.MuiTypography-caption {
    color: rgb(108, 117, 125);
}